/* :root {
    --md-text-font: "Arial", Times, serif;
    --md-text-color: #333;
    --md-text-size: 16px;
    --md-text-weight: 400;
    --md-text-line-height: 1.5;
    --md-text-letter-spacing: 0.5px;
    --md-text-transform: none;
    --md-text-decoration: none;
    --md-text-align: left;
    --md-text-shadow: none;
} */



.md-header__inner.md-grid {
    grid-gap: 20px;
}

.md-header__inner.md-grid .md-header__title {
    font-size: 2.8em;
    font-weight: 700;
    line-height: 2.2;
    letter-spacing: 0.5px;
}

.md-nav__link {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

/* Cinteiner video */
.iframe-container
{
    display: flex;
    justify-content: center;
    align-items: center;

}

      
.md-social__link a {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

/* Hacer un gradiente de color  */
#reserva-juan-bautista-alberdi {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    background: linear-gradient(#b95e14,#6a7909,#ffbd00);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    animation: text 10s linear infinite;
    margin-top: 20px;
    margin-bottom: 20px;
}
@keyframes text {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 50%;
    margin: 0 auto;
    opacity: 50%;
  
}

/* OTRO CSS */
/* Basic styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    background-image: url(../imagenes/espinillo.jpg);
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    z-index: 1;
}


.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7); /* White overlay with 50% opacity */
    z-index: -1;
}

.ubicacion {
    display: block; /* Asegura que el iframe se comporte como un bloque */
    margin: 0 auto; /* Centra el iframe horizontalmente */
    width: 85%; /* Ajusta el tamaño según tus necesidades */
    height: 500px; /* Ajusta la altura según tus necesidades */
    border: none; /* Opcional: elimina el borde del iframe */
}

.titulo_ubicacion {
    text-align: center;
       
}

.texto_ubicacion {
    text-align: center;
}

/* Estilos para el contenedor del iframe */
.iframe-container {
    display: flex;
    justify-content: center;
    margin: 20px 0; /* Espacio superior e inferior */
}



/* Social icons styles */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.social-icons-image img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

.social-icons-image img:hover {
    transform: scale(1.5);
}

/* Description styles */
.descripcion {
    text-align: center;
    font-size: 1.2em;
    color: #000;
    margin-bottom: 20px;
}

/* Logo styles */
.logo {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: auto;
}